.populares {
    width: 200px;
    position: relative;
}

/* .populares a {
    width: 150px;
} */


a .imagen1 {
    width: 100px;
    height: 140px;
    position: absolute;
    right: 79px;
    object-fit: cover;
}

a .imagen2 {
    width: 100px;
    margin-left: 100px;
}