.populares {
    width: 200px;
    position: relative;
    /* margin-top: 50px; */
}

a .imagen1 {
    width: 100px;
    height: 140px;
    position: absolute;
    right: 79px;
    object-fit: cover;
}

a .imagen2 {
    height: 140px;
    width: 100px;
    margin-left: 100px;
    object-fit: contain;
}