.container-wrapper2 {
    /* border: 3px solid red; */
    width: 100%;
    height: 90vh;
    padding: 0px 50px;
    background-image: url("https://occ-0-2645-1740.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABQLCze-BD5qRbct2Ygy4QxA3pO4ojZ9onLxrdmUZWqR2Ff0eySQt29nbw75thSZuJsUot678B56sVjhOpNG4oSRBCAJG.webp?r=c37");
    background-size: cover;
}

.menu-wrapper2 {
    width: 100%;
    height: 80px;
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
}

.main-wrapper2 {
    width: 100%;
    height: 1000px;
    /* border: 3px solid skyblue; */
}
