/*MAIN_HEADER*/

.detalle {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    /* border: 1px solid yellow; */
    width: 500px;
    height: 350px;
    margin-top: 100px;
    color: white;
    font-size: 20px;
}

.detalle p {
    font-weight: 500;
}

.detalle img {
    object-fit: cover;
    filter: brightness(70%);
    animation: escalar 1.9s infinite alternate;
    width: 490px;
    height: 200px;
}

.detalle img:hover {
    filter: brightness(100%);
}

@keyframes escalar {
    to {
        transform: scale(1);
    }
    
    from {
        transform: scale(1.05);
    }
}

.botones {
    display: flex;
}

.botones i {
    margin-right: 10px;
}
.botones a {    
    font-weight: 600;
    font-size: 1.1vw;
}

.botones .boton_reproducir i {
    font-size: 1.1vw;
}
.botones .boton_informacion i {
    font-size: 1.3vw;
}


.botones .boton_reproducir {
    border: 1px solid white;
    background: white;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 1.6vw;
}
.botones .boton_informacion {
    border: 1px solid gray;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    margin-left: 20px;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 1.6vw;
}

.botones .boton_informacion  a {
    color: white;
    font-size: 1.1vw;
}

.boton_reproducir i {
    color: black;
    font-size: 16px;
}


@media only screen and (max-width: 882px) {
    .menu_bar .opciones {
        display: none;
    }
    .opciones_responsive {
        display: block;
    }
    .opciones_responsive a{
        display: flex;
    }
}